@import "variables";
@import "mixins";
@import "functions";

body {
  background-color: #fff;
  font-size: 16px;
  line-height: 1.5;
  font-family: RobotoMedium, sans-serif;
  color: $dark-color;
}

h1, h2, h3, h4, h5, h6, .button {
  font-weight: normal;
  text-transform: uppercase;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.button {
  color: $dark-color;
  background-color: $accent-color;
  border-radius: 2px;
  font-size: em(16px);
  padding: 10px 30px;
  position: relative;
  transition: background-color .25s ease;
  &:hover {
    background-color: lighten($accent-color, 10%);
  }
  &:active {
    background-color: darken($accent-color, 10%);
  }
  &::after {
    position: absolute;
    content: '';
    background-color: darken($accent-color, 10%);
    width: 100%;
    bottom: 0;
    left: 0;
    height: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  &:hover, &:focus {
    text-decoration: none;
    color: $dark-color;
  }
}



// HEADER

//Top pannel
.logo {
  img {
    //width: 100%;
    max-height: 110px;
    padding: 0 auto;
  }
}
.top-pannel {
  padding: 30px 0;
  position: relative;
  z-index: 1;
  &-box {
    ul, li {
      padding: 0;
      margin: 0;
      list-style-type: none;
    }
    li {
      opacity: .8;
      font-family: "RobotoCondensedRegular", sans-serif;
      font-size: em(15px);
      a {
        color: $dark-color;
      }
      &:hover {
        a:hover {
          color: darken($accent-color, 5%);
          text-decoration: none;
        }
      }
      i {
        color: darken($accent-color, 5%);
      }
    }
  }

  &-icon {
    height: 110px;
    div.social {
      margin-bottom: 53px;
      a {
        padding: 0 6px;
        font-size: 16px;
        color: $dark-color;
      }
    }
    div.org {
      a {
        padding: 0 6px;
        font-size: 22px;
        color: $dark-color;
        &:last-child {
          position: relative;
          .cart-count {
            display: block;
            width: 20px;
            height: 20px;
            background: $accent-color;
            color: $dark-color;
            position: absolute;
            top: -10px;
            left: 25px;
            border-radius: 100%;
            font-size: 12px;
            text-align: center;
            padding-bottom: 0;
          }
        }
      }
    }
  }

}



// Top line
.top-line {
  border-top: lighten($dark-color, 10%) 2px solid;
  background-color: $dark-color;
  text-align: center;
  font-size: em(18px);
  position: relative;
  z-index: 2;
  .navbar {
    padding: 0;
    li {
      a {
        color: $light-color;
        padding: 20px 15px;
      }
      &:hover {
        background-color: darken($dark-color, 5%);
        a:hover {
          color: $accent-color;
        }
      }
    }
    li.active {
      background-color: darken($dark-color, 5%);
      a {
        color: $accent-color;
      }
    }
    ul, li {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
  }
  .navbar-brand {
    font-size: 24px;
  }

  .dropdown-menu.show {
    background-color: $dark-color;
    padding: 0;
    border-radius: 0;
    margin-top: -1px;
    margin-left: -1px;
    ul {
      li {
        border-bottom: lighten($dark-color, 5%) 1px solid;
        a {
          padding: 10px;
        }
        a:hover {
          background: darken($dark-color, 5%);
          color: $accent-color;
        }
      }
    }
  }
  .navbar-brand span {
    color: $accent-color;
  }
}

//Slider
.slider {
  width: 100%;
  .slide {
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    h2 {
      font-family: RobotoCondensedRegular, sans-serif;
      font-size: em(32px);
      line-height: em(24px);
      &:first-line {
        color: darken($accent-color, 10%);
      }
    }
    p {
      font-family: 'RobotoLight', sans-serif;
      font-size: em(16px);
      opacity: .75;
      margin-top: 25px;
      margin-bottom: 35px;
    }
    &-bg {
      box-sizing: border-box;
      position: absolute;
      background-size: cover;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      &::before {
        content: '';
        background-color: $light-color;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: .65;
      }
    }
    &-content {
      position: relative;
      z-index: 1;
    }
  }
}

.carousel-control-prev, .carousel-control-next {
  i.fas {
    color: $dark-color;
    font-size: em(30px);
  }
}

.carousel-indicators li {
  background-color: $dark-color;
}

.slide-img-wrap {
  img {
    max-height: 365px;
  }
}

.navbar-dark .navbar-toggler {
  border-color: transparent;

}




// MAIN

.main-goods {
  margin-top: 64px;
  margin-bottom: 32px;
  .main-goods__heading {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .main-goods__grid {
    .main-goods__cell {
      margin-top: 12px;
      margin-bottom: 12px;
      background-color: #fff;
      border: 4px solid darken($light-color, 10%);
      border-radius: 15px 15px 0 0;
      position: relative;
      .main-goods__tile {
        padding: 16px;
        a.main-goods__picture {
          display: block;
          height: 200px;
          margin-bottom: 16px;
          text-align: center;
          img {
            max-width: 100%;
          }
        }
        a.main-goods__title {}
        p.main-goods__old-price {
          text-decoration: line-through;
          font-size: 15px;
          color: #888;
        }
        p.main-goods__price {
          color: #e74747;
          font-size: em(24px);
          font-weight: 700;
          span.main-goods__currency {
            font-size: em(13px);
          }
        }

        .is-stock {
          margin: 2px 0;
          padding-left: 16px;
          color: #1ac136;
        }
      }
    }
  }

  // category
  .main-goods__grid.category {
    .main-goods__cell {
      background-image: url("../images/bg-folder.png");
      background-size: cover;
      background-position: center center;
      height: 300px;
      .main-goods__tile {
        padding: 0;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
      }
    }
  }
}


