@import "variables";
@import "mixins";
@import "functions";

body {
  background-color: #fff;
  font-size: 16px;
  line-height: 1.5;
  font-family: Aril, Tahoma, sans-serif;
  color: $dark-color;
}

h1, h2, h3, h4, h5, h6, .button {
  font-weight: normal;
  text-transform: uppercase;
}


// HEADER

//Top pannel
.logo {
  position: relative;
  top: 3px;
  img {
    width: 80%;
    padding: 0 auto;
  }
}
.top-pannel {
  padding: 30px 0;
  &-box {
    ul, li {
      padding: 0;
      margin: 0;
      list-style-type: none;
    }
    li {
      opacity: .8;
      font-size: em(13px);
      a {
        color: $dark-color;
      }
      &:hover {
        a:hover {
          color: darken($accent-color, 5%);
          text-decoration: none;
        }
      }
      i {
        color: darken($accent-color, 5%);
      }
    }
  }

  &-icon {
    div {
      padding-bottom: 30px;
      img {
        padding: 0 3px;
      }
      a {
        padding: 0 8px;
        font-size: 24px;
        color: $dark-color;
        &:last-child {
          color: darken($accent-color, 5%);
          position: relative;
          .cart-count {
            display: block;
            width: 16px;
            height: 16px;
            background: $dark-color;
            position: absolute;
            top: -12px;
            left: 18px;
            border-radius: 100%;
            color: #fff;
            font-size: 11px;
            text-align: center;
            padding-bottom: 0;
          }
        }
      }

    }
  }

}


// Top line
.top-line {
  border-top: lighten($dark-color, 10%) 2px solid;
  background-color: $dark-color;
  text-align: center;
  font-size: em(40px);

  ul, li {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li {
    a {
      color: $light-color;
      padding: 20px 15px;
    }
    &:hover {
      background-color: darken($dark-color, 5%);
      a:hover {
        color: $accent-color;
      }
    }
  }

  .dropdown-menu.show {
    background-color: $dark-color;
    padding: 0;
    border-radius: 0;
    margin-top: -1px;
    margin-left: -1px;
    ul {
      li {
        border-bottom: lighten($dark-color, 5%) 1px solid;
        a {
          padding: 10px;
        }
        a:hover {
          background: darken($dark-color, 5%);
          color: $accent-color;
        }
      }
    }
  }
}

