@import "variables";
@import "mixins";
@import "functions";

body {
  background-color: #fff;
  font-size: 16px;
  line-height: 1.5;
  font-family: RobotoMedium, sans-serif;
  color: $dark-color;
}

h1, h2, h3, h4, h5, h6, .button {
  font-weight: normal;
  text-transform: uppercase;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.navbar-brand {
  font-size: 24px;
  span {
    color: $accent-color;
  }
}

.button {
  color: $dark-color;
  background-color: $accent-color;
  border-radius: 2px;
  font-size: em(16px);
  padding: 10px 30px;
  position: relative;
  transition: background-color .25s ease;
  &:hover {
    background-color: lighten($accent-color, 10%);
  }
  &:active {
    background-color: darken($accent-color, 10%);
  }
  &::after {
    position: absolute;
    content: '';
    background-color: darken($accent-color, 10%);
    width: 100%;
    bottom: 0;
    left: 0;
    height: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  &:hover, &:focus {
    text-decoration: none;
    color: $dark-color;
  }
}

